<div class="col-12">
  <div class="table-responsive">
    <table class="table table-hover ">
      <thead class="table" style="background-color: rgb(3, 3, 203); color: white;">
        <tr>
          <th scope="col">
            Sr
          </th>
          <th scope="col"> Title</th>
          <th scope="col"> Rating</th>
          <th scope="col"> Rating Count</th>
          <th scope="col"> Adult</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of movie | paginate: { itemsPerPage: 10, currentPage: currentPageNo} let i = index;">
          <td>{{ i+1 }}</td>
          <td>{{ item.title}}</td>
          <td>{{ item.vote_average }}</td>
          <td>{{ item.vote_count}}</td>
          <td>{{item.adult}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="pagination mt-5">
  <span>
    <pagination-controls (pageChange)="currentPageNo = $event"></pagination-controls>
  </span>
</div>